{% load staticfiles %}
<script src="{%  static 'js/calendar.js' %}"></script>

<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

<div id="authorize-div" style="display: none">
    <span>Authorize access to Google Calendar API</span>
    <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button" onclick="handleAuthClick(event)">
        Authorize
    </button>
</div>
<div class="calendarHolder">
    <div id="calendarHeader">Upcoming Events:</div>
    <pre id = "calendarEvents"></pre>
</div>