<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mirror</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="{%  static 'css/style.css' %}" rel="stylesheet">
    <script src="{%  static 'js/digitalclock.js' %}"></script>
	    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>

<style>

</style>

<body class="black white-text">
	
	{% if clock %}
    <div class="digitalclock">

    </div>
	{% endif %}
	
	{% if weather %}
		{% include "mirrorBuddy/weather.html" %}
	{% endif %}
	
	{% if music %}
		{% include "mirrorBuddy/music.html" %}
	{% endif %}
	
	{% if news %}
		{% include "mirrorBuddy/news.html" %}
	{% endif %}

    {% if calendar %}
        {% include "mirrorBuddy/calendar.html" %}
    {% endif %}
</body>
</html>