{% load staticfiles %}
<div class="audioPanel">

    <div id="musicInit" style="text-align:center;">
        <h3 class="orange-text">Google Music</h3>
        <img src="{% static 'css/gplay.png' %}" width="50%" style="margin-right:auto; margin-left:auto; margin-top:50px;"/>
        <br/>
        <span class="btn waves-effect waves-light orange" onclick="initMusic();" style="margin-top:50px;">Sign In</span>
    </div>



    <div id="nowPlaying" style="text-align:center; display:none;">
        <div style="padding:10px;">
            <i class="small material-icons waves-effect waves-light circle" id="nowPlayingMenu" style="float:left;">view_list</i>
            <i class="small material-icons waves-effect waves-light circle" id="queue_music" style="float:right;">queue_music</i>
        </div>
        <h5 class="center-align truncate" id="stationTitle">Something Something Station</h5>
        <h4 class="center-align flow-text"><b id="trackTitle">Instant Crush</b></h4>
        <h5 class="center-align" id="artist">Daft Punk</h5>
        <img src="https://upload.wikimedia.org/wikipedia/en/a/a7/Daft_Punk_Instant_Crush.png" alt="" class="circle" width="260px" id="albumImage">
        <div class="center-align" style="padding-left:10px; padding-right:10px;">
            <span style="float:right;" id="trackTime">0:56/4:23</span>
            <div class="progress">
                <div class="determinate" style="width: 70%" id="trackProgress"></div>
            </div>
        </div>
        <div class="center-align">
            <i class="medium material-icons waves-effect waves-light circle" id="skipPrev">skip_previous</i>
            <i class="medium material-icons waves-effect waves-light circle" id="playPause">pause</i>
            <i class="medium material-icons waves-effect waves-light circle" id="skipNext">skip_next</i>
        </div>
        <div class="center-align" style="padding-left:10px; padding-right:10px;">
            <p class="range-field">
                <input type="range" id="volumeControl" min="0" max="100" />
            </p>
        </div>
    </div>

    <div id="musicQueue" style="display:none;">

        <div class="row">
            <div class="col l2">
                <i class="small material-icons waves-effect waves-light circle" id="backToNowPlaying" style="padding:15px;">arrow_back</i>
            </div>
            <div class="col l10">
                <span>Music Queue</span><br/>
                <b style="font-size:x-large;" class="truncate" id="queueNowPlaying">Something Radio</b>
            </div>
        </div>


        <div id="listHolder" style="max-height:500px; overflow-y: auto">
            <div class="row waves-effect waves-light" style="cursor:pointer; padding:3px">
                <div class="col l2">
                    <img src="https://upload.wikimedia.org/wikipedia/en/a/a7/Daft_Punk_Instant_Crush.png" alt="" class="responsive-img">
                </div>
                <div class="col l8"><b style="font-size:large">Instant Crush</b><br/><span>Daft punk</span></div>
                <div class="col l2"><i class="small material-icons waves-effect waves-light circle">radio</i></div>
            </div>
        </div>

    </div>

    <div id="stationView" style="display:none;">

        <div class="row">
            <div class="col l2">
                <i class="small material-icons waves-effect waves-light circle" id="backToMenu" style="padding:15px;">arrow_back</i>
            </div>
            <div class="col l10">
                <span></span><br/>
                <b style="font-size:x-large;">Recent Stations</b>
            </div>
        </div>


        <div id="stationListHolder" style="max-height:500px; overflow-y: auto">

        </div>

    </div>

    <div id="searchResults" style="display:none;">
        <div class="row">
            <div class="col l2">
                <i class="small material-icons waves-effect waves-light circle" id="searchBack" style="padding:15px;">arrow_back</i>
            </div>
            <div class="col l10">
                <span>Search Results</span><br/>
                <b style="font-size:x-large;" id="searchTerm">Search Term</b>
            </div>
        </div>
        <div style="max-height:500px; overflow-y: auto; padding:5px;">

            <h5>Songs</h5>
            <div id="songResults">

            </div>
            <a href="#" onclick="" style="padding-left:10px;" id="loadMoreSongs">Load More</a>
            <hr/>
            <h5>Albums</h5>
            <div id="albumResults">

            </div>
            <a href="#" onclick="" style="padding-left:10px;" id="loadMoreAlbums">Load More</a>
            <hr/>
            <h5>Stations</h5>
            <div id="stationResults">

            </div>
            <a href="#" onclick="" style="padding-left:10px;" id="loadMoreStations">Load More</a>

        </div>

    </div>

    <div id="albumView" style="display:none;">

        <div class="row">
            <div class="col l2">
                <i class="small material-icons waves-effect waves-light circle" id="albumBack" style="padding:15px;">arrow_back</i>
            </div>
            <div class="col l10">
                <span>Album</span><br/>
                <b style="font-size:x-large;" id="albumViewTitle">Something Album</b>
                <span id="albumViewArtist"></span>
            </div>
        </div>
        <div id="albumTracks" style="max-height:500px; overflow-y: auto">

        </div>

    </div>

    <div id="musicMenu" style="display: none;">

        <div class="row waves-effect waves-light" style="width:100%; padding-bottom:0; margin-bottom:0;" id="menuBackBar">
            <div class="col l3">
                <i class="small material-icons" id="backToNowPlaying" style="padding:15px;">arrow_back</i>
            </div>
            <div class="col l9">
                <h4>Menu</h4>
            </div>
        </div>
        <hr/>
        <div class="row waves-effect waves-light" style="width:100%;" id="IFLRadioMenuItem">
            <div class="col l3">
                <i class="small material-icons" id="backToNowPlaying" style="padding:15px;">fingerprint</i>
            </div>
            <div class="col l9 valign-wrapper">
                <h5>I'm Feeling Lucky</h5>
            </div>
        </div>

        <div class="row waves-effect waves-light" style="width:100%;" id="radioStationsMenuItem">
            <div class="col l3">
                <i class="small material-icons" id="backToNowPlaying" style="padding:15px;">radio</i>
            </div>
            <div class="col l9 valign-wrapper">
                <h5>Radio Stations</h5>
            </div>
        </div>

        <div class="row" style="width:100%;">
            <div class="col l3">
                <i class="small material-icons" id="backToNowPlaying"  style="padding:15px;">search</i>
            </div>
            <div class="input-field col l9">
                <input id="searchInput" type="text" class="validate">
                <label for="searchInput">Search</label>
            </div>
            <div class="col l12">
                <span class="waves-effect waves-light btn" style="float:right;" id="searchBtn"><i class="material-icons right">search</i>Search</span>
            </div>
        </div>

    </div>
</div>

<script>
    var csrftoken = '{{ csrf_token }}';
</script>
<script src="{%  static 'js/music.js' %}"></script>