{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{%  static 'js/news.js' %}"></script>


<div class="newsHolder">
    <ul id='newsList'></ul>
</div>
