{% load staticfiles %}
<div class="weatherHolder">

    <div class="row" style="width:100%; margin-bottom:5px; margin-top:5px; font-family: Aldrich">
        <div id="weatherRefreshing">
            <div class="col l2">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col l10 valign-wrapper">
                <h5 class="valign" style="padding-top:5px;">Weather Refreshing</h5>
            </div>
        </div>


        <div id="weatherResult" style="display:none;">
            <span style="position:absolute; right:5px; top:5px;">Ames, Iowa</span>
            <div class="row" style="margin:5px;">
                <div class="col l6">
                    <h4 id="weatherTemp">
                        35 &deg;
                    </h4>
                </div>
                <div class="col l6">
                    <h4 id="weatherStatus">
                        Misty
                    </h4>
                </div>
            </div>
            <div class="row" style="margin:5px;">
                <div class="col l6">
                    <h4>

                        <span id="windSpeed">12</span><span style="font-size:small">mph</span> <span id="windDir">NW</span>
                    </h4>
                </div>

                <div class="col l6">
                    <h4 class="flow-text"><span id="weatherHumidity"></span>% Humidity</h4>
                </div>
            </div>
        </div>
    </div>





    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{%  static 'js/weather.js' %}"></script>
</div>