.weatherHolder{
    width:450px;
    margin:5px;
    padding:5px;
    position:absolute;
    right:0;
    top:0;
}

body {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

.audioPanel{
    margin:10px;
    position: absolute;
    right:0;
    bottom:0;
    height: 600px;
    width: 450px;
    border: solid white thick;
}


/*
 * News
 */

.newsHolder {
    height: auto;
    width: 450px;

    margin: 5px;
    padding: 5px;

    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;

    font-family: 'Aldrich';

    white-space: nowrap;
}

.newsHolder ul {
    height: auto;
    width: 4050px;

    position: relative;

    animation: marquee 45s linear infinite;
}

.newsHolder li {
    display: inline-block;

    height: auto;
    width: 450px;

    padding: 5px 10px;
    position: relative;
    vertical-align: top;

    white-space: normal;
}

@keyframes marquee {
    0%   { left: 100%; }
    100% { left: -900%; }
}


/*
 * Calendar
 */
.calendarHolder {
    height: auto;
    width: 450px;

    margin: 5px;
    padding: 5px;

    font-family: 'Aldrich';
}

#calendarHeader {
    font-size: 1.5em;
}

#calendarEvents {
    font-size: 1em;
}

/*
 * Clock
 */

.digitalclock {
    height: auto;
    width: 450px;

    margin: 5px;
    padding: 5px;

    font-family: 'Aldrich';
    font-size: 2em;
}